<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>SOAD</title>
	<link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/estilo.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="ui menu" id="menu-topo">
			<div class="right menu" style="height:100%">
			<div class="item">
				<img class="ui avatar image" src="http://semantic-ui.com/images/demo/photo2.jpg">	
				<span class="nome">Lúcio Rubens</span>
				<span class="tipo">Aluno</span>
			</div>
			<a href="" class="item" style="width:80px"><i class="search icon large"></i></a>
			<a href="" class="item"><i class="off icon large"></i></a>
		</div>
	</div>

	<div class="ui grid wrap">
		<div class="one wide column" id="menu-lateral">
			<ul class="vertical">
				<li class="ativo"><a href="#" class="popup" data-content="Dashboard" data-variation="inverted" data-position="right center"><i class="dashboard icon big" ></i></a></li>
				<li><a href="#" class="popup" data-content="Avaliações" data-variation="inverted" data-position="right center"><i class="text file icon big"></i></a></li>
				<li><a href="#" class="popup" data-content="Relatórios" data-variation="inverted" data-position="right center"><i class="archive icon big"></i></a></li>
				<li><a href="#" class="popup" data-content="Gráficos" data-variation="inverted" data-position="right center"><i class="sitemap icon big"></i></a></li>
				<li><a href="#" class="popup" data-content="Configurações" data-variation="inverted" data-position="right center"><i class="setting icon big"></i></a></li>
				<li><a href="#" class="popup" data-content="Relatar problema" data-variation="inverted" data-position="right center"><i class="bug icon big"></i></a></li>
				<li><a href="#" class="popup" data-content="Ajuda" data-variation="inverted" data-position="right center"><i class="help icon big"></i></a></li>
			</ul>
		</div> <!-- /menu-lateral -->

		<div class="wide column" id="principal">
			<div class="content">
				<div class="title">Dashboard</div>
				
				<div class="ui celled grid" id="agregador">
					<div class="row">

						<div class="three wide column box" style="">
				    		<div class="ui raised segment box-0">
				    			<div class="ui teal ribbon label ">Nova avaliação</div>
				    			<div class="box-content">
				    				<div class="ui selection dropdown" id="lista-professor">
				    					<div class="text">Selecione o professor:</div>
				    					<i class="dropdown icon"></i>
				    					<div class="menu">
				    						<div class="item">André</div>
				    						<div class="item">Virginia</div>
				    						<div class="item">Wesley</div>
				    					</div>
				    				</div>
				    				<div class="fluid ui small button" id="btn-avaliar">Avaliar</div>
				    			</div>
				    		</div>
				    	</div>

				    	<div class="seven wide column box" style="">
				    		<div class="ui stacked segment box-0">
				    			<div class="ui teal ribbon label">Últimas avaliações</div>
				    		</div>
				    	</div>

				    	<div class="two wide column box">
				     		<div class="ui raised segment box-0">
				     			<div class="box-content">
				     				<span class="numero">27</span>
				     			</div>
				     			<div class="ui red ribbon label">Dias restantes</div>
				     		</div>
				    	</div>

					</div>

					<div class="row">
						<div class="nine wide column box">
							<div class="ui raised segment box-0">
								<div class="box-content">
								</div>
							</div>
						</div>

						<div class="one wide column box">
							<div class="row">
								<div class="one wide column box box-btn popup" data-content="Exportar relatório geral" data-variation="inverted">
									<div class="ui raised segment box-1">
										<div class="box-content">
											<i class="attachment icon big"></i>
										</div>
									</div>
								</div>
							</div>

								<div class="one wide column box box-btn popup" data-content="Deletar avaliação" data-variation="inverted" style="margin-top:1em">
									<div class="ui raised segment box-1">
										<div class="box-content">
											<i class="trash icon big"></i>
										</div>
									</div>
								</div>
						</div>

						<div class="one wide column box">
							<div class="ui raised segment box-0">
								<div class="ui right blue corner label">
								    <i class="question icon"></i>
							  	</div>
								<div class="box-content">
									<i class="user icon" style="font-size:50pt"></i>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /agregador -->
			</div> <!-- /content -->
		</div>
	</div>
</body>
<!-- <script src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
<script src="assets/javascript/jquery-1.10.1.min.js"></script>
<script src="assets/javascript/semantic.min.js"></script>
<script src="assets/javascript/soad.js"></script>
</html>