* {
	font-family: 'Open Sans', 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background: #FAFCED;
	height: 100%;
}

body.login {
	background: url("../images/bg.jpg");
}

/*==============================
=            HEADER            =
==============================*/

#menu-topo {
	background: #011C26;
	position: fixed;
	width: 100%;
	z-index: 9999;
	margin: 0;
	padding: 0!important;
	border-radius: 0;
}

#menu-topo span.nome {
	font-weight: 600;
	color: #128D75;
	font-size: 13pt;
	position: relative;
	top: -0.5rem;
}

#menu-topo span.tipo {
	font-weight: 300;
	display: block;
	position: relative;
	left:2.8em;
	top: -0.3rem;
}

#menu-topo .item {
	height: 60px;
	line-height: 0;
}

/*=============================
=            CORPO            =
=============================*/

.wrap {
	padding-top: 60px!important;
}

/*====================================
=            MENU LATERAL            =
====================================*/

#menu-lateral {
    height:100%;
    width:16%;
    position:fixed;
	background: #518C7C; 
	margin:0;
	padding: 0;
}

#menu-lateral > .profile {
	display: block;
	margin:1em 0;
	text-align: center;
}

#menu-lateral > .profile > img {
	margin:1em auto;
}

#menu-lateral > .profile > span {
	display: block;
}

#menu-lateral > .profile > .nome {
	font-size: 16pt;
	color:white;
}

#menu-lateral > .profile > .tipo {
	color: #222
}

#menu-lateral ul {
	list-style: none;
	display: block;
	width: 100%;
}

#menu-lateral ul li {
	display: block;
	height: 60px;
}

#menu-lateral > ul > li > a {
	display: block;
	text-decoration: none;
	font-size: 14pt!important;
	text-transform: uppercase;
	color: #1B4036;
	line-height: 60px;
	padding: 0 1em;
	border-left: 3px solid #266251;
}

#menu-lateral ul li a i {
	font-size: 18pt;
	position: relative;
	top:0.1em;
	margin-right: 0.7em;

}

a.ativo, #menu-lateral > ul > li > a:hover {
	background: #417063;
	border-left:3px solid #011C26!important;
}
a.ativo, #menu-lateral > ul > li > a:hover{
	color:white!important;
}
a.ativo > i, #menu-lateral > ul > li > a:hover > i {
	color: #011C26;
}

/*=============================================
=            CONTEUDO DA APLICAÇÃO            =
=============================================*/

#principal {
	position: absolute;
	width: 84%;
	right: 0;
	margin: 0;
	height: 100%;
}

#principal > .content {
	margin:1em;
}

#principal > .content > .title {
	font-size: 20pt;
	font-weight: 300;
	margin-left: 0.5em;
}

#agregador {
	box-shadow: none;

}

#agregador > .row {
	box-shadow: none;
}

/*==============================
=            PAINEL            =
==============================*/

.box {
	box-shadow: none!important;
}

.box-btn {
	cursor: pointer;
}

.box-content {
	text-align: center;
	margin:1.5em 0 1em 0;
	color:#222;
}

.box-content .numero {
	font-weight: 500;
	font-size: 40pt;
}

.box-title {
	text-transform: uppercase;
	font-weight: 700;
	color: #128B73;
	font-size: 11pt;
}

.box-0 {
	min-height: 160px;
}
.box-1 {
	min-height: 72px;
}

.painel-login {
	margin: 10em auto;
	min-height: 200px;
	width: 25em;
	padding: 0;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(255,255,255,0.7);
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 5px 0px;
	color: rgb(34, 34, 34);
}

.segment.content {
	display: none;
}

/*===================================
=            ESPECIFICOS            =
===================================*/

.button {
	color:#555!important;
}
#btn-avaliar {
	margin-top: 1em
}

.btn {
	display: block;
	background-color: #A6986D;

	-webkit-box-shadow: inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	-ms-box-shadow: inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	-o-box-shadow: inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	box-shadow: inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	-ms-box-shadow: inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	-o-box-shadow: inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	box-shadow: inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
	-webkit-font-smoothing: antialiased;
	font-size: 1.1em;
	padding: 0.4em 1em;
	text-decoration: none;
	color:white;
	text-align: center;
	font-weight: 600;
}

.btn.large {
	font-size: 1.4em;
}

.btn.turquoise {
	background-color: rgb(22, 160, 133); 
}

.btn.emerald {
	background-color: rgb(39, 174, 96)
}

.btn.blue {
	background-color: rgb(41, 128, 185)
}

.btn.night {
	background-color: rgb(44, 62, 80);
}

.show {
	display: block;
}

.hide {
	display: none;
}

.or {
	content: 'ou'!important;
}
/*===================================
=            Coordenador            =
===================================*/

.formulario-abrir-avaliacao > .content {
	transition: height 0.8s ease;
}

.field > label {
	font-weight: 600;
	margin-bottom: 0.5em!important;
}

#avaliacoes-criadas .item {
	-webkit-transition: background-color 0.05s ease-out;
	-moz-transition: background-color 0.05s ease-out;
	-o-transition: background-color 0.05s ease-out;
	transition: background-color 0.05s ease-out;
	min-height: 100px!important;
}

/*============================================================================================
=	 VERTICAL TIME LINE (ADAPTADO DE: http://tympanus.net/Blueprints/VerticalTimeline/)      =
=============================================================================================*/

.cbp_tmtimeline {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
} 
 
/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #ddd;

    left: 57.4%;
    margin-left: -10px;
}
 
.cbp_tmtimeline > li {
    position: relative;
}
 
/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    padding: 0.3em 1em;	
    top:2.5em;
    border-radius: 3px;
    position: absolute;
}
 
.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: center;
    font-size: 12pt;
    color: #666;
}
 
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    top: 10px;
}

/* === Right content === */
.cbp_tmtimeline > li:nth-child(odd) > .cbp_tmlabel {
	margin: 0 0 15px 63%;
}

/* Triangle */
.cbp_tmtimeline > li:nth-child(odd) > .cbp_tmlabel:after {
    right: 100%;
    border-right-color: white;
}

/* Date */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime {
	left: 40%;
}

/* === Left content === */
.cbp_tmtimeline > li:nth-child(even) > .cbp_tmlabel {
	margin: 0 63% 15px 0;
    left:5em;
}

/* Tringle */
.cbp_tmtimeline > li:nth-child(even) > .cbp_tmlabel:after {
    left: 100%;
    border-left-color: white;
}

/* Date */
.cbp_tmtimeline > li:nth-child(even) .cbp_tmtime {
	left: 57%;
}

.cbp_tmtimeline > li .cbp_tmlabel {
    background: white;
    color: #222;
    padding: 1em;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
    border:1px solid #ddd;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
}
 
.cbp_tmtimeline > li .cbp_tmlabel h2 { 
    margin-top: 0px;
    padding: 0 0 10px 0;
}
 
/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    font-family: 'Simple-Line-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 24pt;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    left: 37%;
    top: 0;
    margin: 0 0 0 123px;
    cursor: pointer;
}

/* Completado */
.cbp_tmtimeline > li .cbp_tmicon.icon-check {
	background: #2ecc71;
}

/* Pendente */
.cbp_tmtimeline > li .cbp_tmicon.icon-clock {
	background: #e67e22;
}

/* Encerrado */
.cbp_tmtimeline > li .cbp_tmicon.icon-close {
	background: #c0392b;
}